# Ignores everything
/**/*

!/.github/
!/.github/dependabot.yml
!/.github/ISSUE_TEMPLATE/
!/.github/ISSUE_TEMPLATE/bug_report.md
!/.github/ISSUE_TEMPLATE/config.yml
!/.github/workflows/
!/.github/workflows/pr.yml
!/.github/workflows/stale.yml
!/.github/workflows/sphinx.yml
!/.github/PULL_REQUEST_TEMPLATE.md

!/.vscode/
!/.vscode/settings.json

!/community/
!/community/**/*

!/contributing/
!/contributing/**/*

!/models/
!/models/**/*

!/datasets/
!/datasets/**/*

!/imgs/
!/imgs/about/

!/.editorconfig
!/.gitattributes
!/.gitignore
!/AUTHORS.md
!/conf.py
!/index.rst
!/make.bat
!/Makefile
!/README.md
!/merge_publish.sh
!/tcp.sh
