# Ignores everything
/**/*

!/.gitignore

!/index.rst
!/static_ann_model.rst
!/static_cnn_model.rst
!/static_voter_model.rst

!/static_ann_model_versions/
!/static_ann_model_versions/static_ann_model_v0.rst

!/static_cnn_model_versions/
!/static_cnn_model_versions/static_cnn_model_v0.rst

!/static_voter_model_versions/
!/static_voter_model_versions/static_voter_model_v0.rst
